In [1]:
import numpy as np
import pandas as pd
from pickle import load

In [2]:
train_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header = None,index_col=None)
col_labels = ['age', 'workclass', 'fnlwgt', 'education','education_num','marital_status', 'occupation','relationship', 'race', 'sex', 'capital_gain','capital_loss', 'hours_per_week', 'native_country', 'wage_class']
train_set.columns = col_labels

In [3]:
train_set

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
train_set.to_csv('../train_data.csv',index=False)

In [5]:
fq = train_set.groupby('workclass').size()/len(train_set)
fq

workclass
 ?                   0.056386
 Federal-gov         0.029483
 Local-gov           0.064279
 Never-worked        0.000215
 Private             0.697030
 Self-emp-inc        0.034274
 Self-emp-not-inc    0.078038
 State-gov           0.039864
 Without-pay         0.000430
dtype: float64

In [6]:
def preprocessing(df):
        train_set = pd.read_csv('train_data.csv')
        train_set['workclass']=np.where(train_set['workclass']==' Without-pay',' Never-worked',train_set['workclass'])
        train_set['workclass']=np.where(train_set['workclass']==' ?',train_set['workclass'].mode(),train_set['workclass'])
        train_set['occupation']=np.where(train_set['occupation']==' ?',train_set['occupation'].mode(),train_set['occupation'])    
        col_labels = ['age', 'workclass', 'fnlwgt', 'education_num','marital_status', 'occupation','relationship', 'race', 'sex', 'capital_gain','capital_loss', 'hours_per_week', 'native_country']
        scaler=load(open('../scaler.pkl','rb'))
        df=pd.DataFrame(df,columns=col_labels)
        fq = train_set.groupby('workclass').size()/len(train_set)
        df['workclass']=df['workclass'].map(fq)
        fq=train_set.groupby('marital_status').size()/len(train_set)
        df['marital_status']=df['marital_status'].map(fq)
        fq=train_set.groupby('occupation').size()/len(train_set)
        df['occupation']=df['occupation'].map(fq)
        fq=train_set.groupby('relationship').size()/len(train_set)
        df['relationship']=df['relationship'].map(fq)
        fq=train_set.groupby('race').size()/len(train_set)
        df['race']=df['race'].map(fq)
        df['sex']=np.where(df['sex']==' Male',0,1)
        df['native_country']=np.where(df['native_country']==' United-States',1,0)
        df=scaler.transform(df)
        df=pd.DataFrame(df,columns=col_labels)
        return(df)

In [7]:
preprocessing(np.array([[39," State-gov",77516,13," Never-married"," Adm-clerical"," Not-in-family"," White"," Male",2174,0,40," United-States"]]))

d:\Anaconda\envs\MLDeploy\lib\site-packages\sklearn\base.py:338: UserWarning: Trying to unpickle estimator MinMaxScaler from version 1.1.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  UserWarning,

,age,workclass,fnlwgt,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,0.30137,0.052099,0.044302,0.8,0.7129,0.629561,0.599738,1.0,0.0,0.02174,0.0,0.397959,1.0

In [8]:
l=np.array([[0.301370,0.052099,0.044302,0.800000,0.712900,0.629561,0.599738,1.000000,0.0,0.021740,0.000000,0.397959,1.0]])
l

array([[0.30137 , 0.052099, 0.044302, 0.8     , 0.7129  , 0.629561,
        0.599738, 1.      , 0.      , 0.02174 , 0.      , 0.397959,
        1.      ]])

In [9]:
k=np.array([[39,"State-gov",77516,"Bachelors",13,"Never-married","Adm-clerical","Not-in-family","White","Male",2174,0,40,"United-States","<=50K"]])

In [10]:
k[0][0]

'39'

In [11]:
train_set['workclass']=np.where(train_set['workclass']==' Without-pay',' Never-worked',train_set['workclass'])
train_set['workclass']=np.where(train_set['workclass']==' ?',train_set['workclass'].mode(),train_set['workclass'])
fq_age = train_set.groupby('workclass').size()/len(train_set)
fq_age

workclass
 Federal-gov         0.029483
 Local-gov           0.064279
 Never-worked        0.000645
 Private             0.753417
 Self-emp-inc        0.034274
 Self-emp-not-inc    0.078038
 State-gov           0.039864
dtype: float64

In [12]:
train_set['workclass']=np.where(train_set['workclass']==' Without-pay',' Never-worked',train_set['workclass'])
train_set['workclass']=np.where(train_set['workclass']==' ?',train_set['workclass'].mode(),train_set['workclass'])
fq_age = train_set.groupby('workclass').size()/len(train_set)

In [13]:
type(fq_age)

pandas.core.series.Series